* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px salmon;
}

.container {
    background-color: blueviolet;
    height: 800px;
    margin: 0 auto;
}

h1,
h2 {
    padding-top: 50px;
    text-align: center;
}

.sub-container {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.details {}

#input-1 {
    width: 80%;
    height: 50px;
}